@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;

.button {
	@include m.neumorphic-button(1px, 3px, v.$red, 120%, 2px, v.$black);

	background: v.$red;
	border-radius: v.$border-radius;
	color: v.$white;
	padding: 0.6rem 1rem;
	text-decoration: none;
	transition: 75ms v.$timing-function;

	&:hover {
		@include m.neumorphic-button(2px, 5px, v.$red, 120%, 5px, v.$black);
	}

	&:active {
		@include m.neumorphic-button(-1px, 3px, v.$red, 120%, 5px, v.$black);
	}
}

.text {
	display: inline;
	text-transform: uppercase;
}

.icon {
	margin-right: 0.4rem;
	position: relative;
	top: 0.2rem;
}
