@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;

.button {
	background: #550003;
	box-shadow: inset -1px -1px 3px #220001, inset 1px 1px 3px #880005,
		0px 0px 2px #220001; //TODO mixin
	color: v.$white;
	padding: 0.6rem 1rem;
	text-decoration: none;
	transition: 75ms;
	border-radius: 8px;

	&:hover {
		box-shadow: inset -2px -2px 5px #220001, inset 2px 2px 5px #880005,
			0px 0px 5px #220001;
	}

	&:active {
		box-shadow: inset 1px 1px 3px #220001, inset -1px -1px 3px #880005,
			0px 0px 5px #220001;
	}
}

.text {
	display: inline;
	text-transform: uppercase;
}

.icon {
	margin-right: 0.4rem;
	position: relative;
	top: 0.2rem;
}
