@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;
@use '~styles/util/functions.global' as f;

.hero {
	color: v.$white;
	display: grid;
	grid-template-areas:
		'Hero-Image'
		'Main-Title'
		'Sub-Title'
		'Scroll-Arrow'
		'Retailers-Button';
	grid-template-columns: 100%;
	grid-template-rows: 46% 24% 8% 7% 15%;
	min-height: 100vh;
	text-align: center;
	@include m.media('height>HEIGHT_ultratiny', 'height<=HEIGHT_short') {
		grid-template-rows: 46% 19% 7% 11% 17%;
	}
	@include m.media('height<=HEIGHT_ultratiny') {
		grid-template-rows: 46% 18% 5% 13% 18%;
	}
}

.hero-image {
	height: 100%;
	width: 100%;
	z-index: -1;
}

.main-title {
	@include m.header-text-shadow;

	font-size: f.convert-to-vmin(v.$hero-large-size);
	font-weight: normal;
	grid-area: Main-Title;
	line-height: f.convert-to-vmin(4.93rem);
	//TODO var
	text-transform: uppercase;
}

.sub-title {
	font-size: f.convert-to-vmin(v.$hero-sub-size, 1vh);
	font-style: italic;
	font-weight: normal;
	grid-area: Sub-Title;
	letter-spacing: v.$letter-spacing-wide;
}

.arrow {
	grid-area: Scroll-Arrow;
	padding-top: 70px;
	position: relative;

	span {
		animation: arrowdown 4s infinite;
		border-bottom: 1px solid v.$white;
		border-left: 1px solid v.$white;
		box-sizing: border-box;
		height: 24px;
		left: 50%;
		margin-left: -12px;
		position: absolute;
		top: 0;
		transform: rotate(-45deg);
		width: 24px;

		@include m.media('height<=HEIGHT_short') {
			height: 12px;
			margin-left: -6px;
			width: 12px;
		}

		@include m.media('height<=HEIGHT_tiny') {
			height: 8px;
			margin-left: -4px;
			width: 8px;
		}
	}
}

@keyframes arrowdown {
	0% {
		opacity: 0;
		transform: rotate(-45deg) translate(0, 0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(-45deg) translate(-20px, 20px);
		@include m.media('height<=HEIGHT_short') {
			transform: rotate(-45deg) translate(-10px, 10px);
		}
	}
}

.retailers {
	align-self: center;
	grid-area: Retailers-Button;
	padding-bottom: 3vh;
	padding-top: 1em;

	@include m.media('height<=HEIGHT_short') {
		align-self: start;
	}
	@include m.media('height<=HEIGHT_tiny') {
		padding-top: 2px;
	}

	h4 {
		@include m.header-normal;
	}
}

.available-text {
	font-weight: normal;
	@include m.media('height>HEIGHT_tiny', 'height<=HEIGHT_short') {
		font-size: f.convert-to-vmin(1.25rem, 1vh); //TODO var
		margin-bottom: 1.1rem;
	}
	@include m.media('height<=HEIGHT_tiny') {
		font-size: f.convert-to-vmin(1.5rem, 1vh); //TODO var
		margin-bottom: 1rem;
	}
	@include m.media('height<=HEIGHT_ultratiny') {
		margin-bottom: 0.4rem;
	}
}
