@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;
@use '~styles/util/functions.global' as f;

.hero {
	color: v.$white;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 46% 24% 8% 7% 15%;
	min-height: 100vh;
	text-align: center;

	@include m.media('<=phone') {
		//TODO var
		grid-template-rows: 46% 19% 7% 11% 17%;
	}
}

.hero-image {
	height: 100%;
	width: 100%;
	z-index: -1;
} // TODO figure out retina

.main-title {
	@include m.header-text-shadow;

	font-size: f.convert-to-vmin(v.$hero-large-size);
	// font-size: v.$hero-large-size;
	font-weight: normal;
	grid-row-start: 2;
	line-height: f.convert-to-vmin(4.93rem);
	// line-height: 4.93rem; //TODO var
	text-transform: uppercase;
} // TODO make it so that it's always two lines

.sub-title {
	font-size: f.convert-to-vmin(v.$hero-sub-size, 1vh);
	font-style: italic;
	font-weight: normal;
	grid-row-start: 3;
	letter-spacing: v.$letter-spacing-wide;
}

.retailers {
	align-self: center;
	grid-row-start: 5;
	padding-bottom: 3vh;
	padding-top: 1em;

	h4 {
		@include m.header-normal;
	}
}

.available-text {
	font-weight: normal;
}

.arrow {
	grid-row-start: 4;
	padding-top: 70px;
	position: relative;

	span {
		animation: arrowdown 4s infinite;
		border-bottom: 1px solid v.$white;
		border-left: 1px solid v.$white;
		box-sizing: border-box;
		height: 24px;
		left: 50%;
		margin-left: -12px;
		position: absolute;
		top: 0;
		transform: rotate(-45deg);
		width: 24px;

		@include m.media('height<=HEIGHT_short') {
			//TODO var -- notice height
			height: 12px;
			margin-left: -6px;
			width: 12px;
		}
	}
}

@keyframes arrowdown {
	0% {
		opacity: 0;
		transform: rotate(-45deg) translate(0, 0);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(-45deg) translate(-20px, 20px);
		@include m.media('height<=HEIGHT_short') {
			//TODO var
			transform: rotate(-45deg) translate(-10px, 10px);
		}
	}
}
