@use '~styles/util/variables.module' as v;
@use '~styles/util/mixins.module' as m;

$image-width: 100vw/3 * 2;

.contenders {
	background-color: v.$black;
	color: v.$black;
	margin-left: $image-width;
}

.menu {
	background-color: v.$light-bg;
	box-shadow: 0 0 15px v.$black;
	padding: 1rem;
	position: relative;
	overflow-y: scroll;
	height: 100vh;
}

.menu-list {
	list-style: none;
	margin-left: 0;
}
