@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;
@use './../contenders.module.scss' as c;
@use 'sass:color';

$pic-bg: color.adjust(v.$light-bg, $lightness: -60%, $saturation: -10%);

.picture-container {
	background-color: $pic-bg;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	height: 100vh;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: c.$image-width;
}

.picture {
	grid-column: 1;
	grid-row: 1;
	height: 100%;
	mix-blend-mode: overlay;
	width: 100%;
}

.caption {
	@include m.header-text-shadow;

	align-self: end;
	color: v.$white;
	grid-column: 1;
	grid-row: 1;
	padding-left: 1rem;
	padding-right: 1rem;
	text-transform: uppercase;
}

.name {
	font-size: 3.5vw;
	margin-bottom: 1rem;
}

.dates {
	@include m.header-normal;

	font-size: 1.6vw;
	margin-bottom: 0.1rem;
}

.menu {
	box-shadow: 0 0 15px v.$black;
	grid-column: 2;
	overflow-y: scroll;
	padding: 1rem;
}
