@use '~styles/util/variables.module' as v;
@use '~styles/util/mixins.module' as m;
@use './../contenders.module.scss' as c;
@use 'sass:color';

$pic-bg: color.adjust(v.$color-red-white, $lightness: -60%, $saturation: -10%);

.picture-container {
	background-color: $pic-bg;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	height: 100vh;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: c.$image-width;

	@include m.media('<=desktop') {
		bottom: 0;
		height: 100 / 3 * 1vh;
		margin-bottom: 0;
		position: absolute;
		top: auto;
		width: 100vw;
	}
}

.picture {
	grid-column: 1;
	grid-row: 1;
	height: 100%;
	mix-blend-mode: overlay;
	width: 100%;
}

.picture-inner {
	object-position: center 25%;

	@include m.media('<=desktop') {
		object-position: center 15%;
	}
}

.caption {
	@include m.header-text-shadow;

	align-self: end;
	color: v.$color-white;
	grid-column: 1;
	grid-row: 1;
	padding: 0 2rem 1.3rem;
	text-transform: uppercase;

	@include m.media('<=desktop') {
		padding: 0 1.5rem 1rem;
	}

	@include m.media('<=phone') {
		padding: 0 1rem 0.3rem;
	}
}

.name {
	font-size: 3.5vw;
	margin-bottom: 0;

	@include m.media('<=desktop') {
		font-size: 5vw;
	}

	@include m.media('<=phone') {
		font-size: 7vw;
	}
}

.dates {
	@include m.header-normal;

	font-size: 1.6vw;
	margin-bottom: 0.1rem;

	@include m.media('<=desktop') {
		font-size: 2.5vw;
	}

	@include m.media('<=phone') {
		font-size: 3.8vw;
	}
}

.menu {
	box-shadow: 0 0 15px v.$color-black;
	grid-column: 2;
	overflow-y: scroll;
	padding: 1rem;
}
