@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;

.post-container {
	background-color: v.$light-bg;
}

.single-post {
	align-items: center;
	color: v.$black;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	max-width: 47rem; //TODO set to variable
	padding: 1rem;
}

.link-back {
	text-decoration: underline;
	color: v.$black;
	padding: 0 1rem 0.5rem 1rem;
}

.arrow-back {
	position: relative;
	top: 3px;
	right: 0.4rem;
}

.headings {
	margin-bottom: 1rem;
	margin-top: 10vh;
	text-align: center;
}

.successive-headings {
	@include m.successive-headings;
}

.title {
}

.subtitle {
	@include m.header-normal;
}

.extraHeaderText {
	@include m.header-normal;
	font-family: v.$body-font;
}

.post-image {
	margin-bottom: 2.38rem;
	width: 30rem;
} //TODO var?

.post-content {
	text-align: left;
}
//TODO menu

.post-meta {
}
