@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;

//TODO print styles
//TODO links wrong color
//TODO highlight color
.post-container {
	background-color: v.$light-bg;
	min-height: 95vh;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.single-post {
	@include m.neumorphic-intensity(
		6px,
		20px,
		v.$light-bg,
		$intensity: 15%
	); //TODO match front
	//TODO spacing around header seems weird now
	align-items: center;
	color: v.$black;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	// max-width: 47rem; //TODO set to variable
	// padding: 1rem;
	max-width: 51rem;
	padding: 5rem;
	border-radius: v.$border-radius * 2; //TODO consistency
}

.nav-links {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	width: 100%;
	position: absolute;
	top: 0px; //TODO is this the best way?
	max-width: 51rem;
	padding: 1.5rem; //TODO double height screws up -- flex?
} //TODO neumorphic pics

.nav-links a {
	color: v.$black;
	padding: 0 1rem 0.5rem;
	position: relative;
	text-decoration: underline;
}

%arrows {
	position: absolute;
	top: 2px;
}

.arrow-prev {
	@extend %arrows;

	left: -0.4rem;
}

.arrow-next {
	@extend %arrows;

	right: -0.4rem;
}

.link-prev {
	grid-column: 1;
}

.link-up {
	grid-column: 2;
	text-align: center;
}

.link-next {
	grid-column: 3;
	text-align: right;
}

.headings {
	margin-bottom: 1rem;
	margin-top: 10vh;
	text-align: center;
}

.successive-headings {
	@include m.successive-headings;
}

.title {
	width: initial;
}

.subtitle {
	@include m.header-normal;
}

.extra-header-text {
	@include m.header-normal;

	font-family: v.$body-font;
}

.post-image {
	margin-bottom: 2.38rem;
	width: 30rem;
} //TODO var?

.post-content {
	text-align: left;

	a {
		@include m.fancy-hover-link();

		color: v.$black;
		font-style: italic;
	}
}

.post-meta {
} // TODO build out a little
