@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;

//TODO print styles
.post-container {
	align-items: center;
	background-color: v.$light-bg;
	display: flex;
	flex-direction: column;
	min-height: 95vh;
	padding-bottom: 5rem;
	padding-top: 5rem;
}

.single-post {
	@include m.neumorphic-intensity(
		v.$post-border-shadow-size,
		v.$post-border-shadow-spread,
		v.$light-bg,
		$intensity: v.$post-border-shadow-intensity
	);

	align-items: center;
	border-radius: v.$post-border-radius;
	color: v.$black;
	display: flex;
	flex-direction: column;
	margin: 10vh 2rem 0;
	max-width: 51rem;
	padding: 5rem;
	// TODO share some consistency with single post

	@include m.media('<=ultrawide') {
		padding: 5rem 4rem;
	}

	@include m.media('<=wide') {
		margin: 10vh 2rem 0;
		place-self: center;
	}

	@include m.media('<=tablet') {
		margin: 10vh 1rem 0;
		padding: 4rem 2rem 3rem;
	}

	@include m.media('<=phone') {
		border-radius: 0;
		margin: 10vh 0 0;
		padding: 4rem 1rem 2rem;
	}

	@include m.media('<=ultratiny') {
		padding: 4rem 0.5rem 2rem;
	}
}

.nav-links {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	max-width: v.$post-max-width;
	padding: 1.5rem; //TODO double height screws up -- flex?
	position: absolute;
	top: 0; //TODO is this the best way?
	width: 100%;
} //TODO neumorphic pics

.nav-links a {
	color: v.$black;
	padding: 0 1rem 0.5rem;
	position: relative;
	text-decoration: underline;
}

%arrows {
	position: absolute;
	top: 2px;
}

.arrow-prev {
	@extend %arrows;

	left: -0.4rem;
}

.arrow-next {
	@extend %arrows;

	right: -0.4rem;
}

.link-prev {
	grid-column: 1;
}

.link-up {
	grid-column: 2;
	text-align: center;
}

.link-next {
	grid-column: 3;
	text-align: right;
}

.headings {
	margin-bottom: 1rem;
	text-align: center;
}

.successive-headings {
	@include m.successive-headings;
}

.title {
	width: initial;
}

.subtitle {
	@include m.header-normal;
}

.extra-header-text {
	@include m.header-normal;

	font-family: v.$body-font;
}

.post-image {
	margin-bottom: 2.38rem;
	max-width: 30rem;
	width: 100%;
} //TODO var?

.post-content {
	text-align: left;

	a {
		@include m.fancy-hover-link();

		color: v.$black;
		font-style: italic;
	}
}

.post-meta {
} // TODO build out a little
