/* stylelint-disable no-invalid-position-at-import-rule */
@use './util/variables.module' as v;
@use './util/mixins.module' as m;
@use '~@fontsource/libre-baskerville/scss/mixins' as libreBaskerville;
@use '~@fontsource/cardo/scss/mixins' as cardo;
@include libreBaskerville.faces(
	$subsets: 'latin',
	$display: 'swap',
	$displayVar: 'false',
	$weights: (
		400,
		700,
	)
);
@include cardo.faces(
	$subsets: 'latin',
	$display: 'swap',
	$displayVar: 'false',
	$weights: (
		400,
		700,
	)
);

html {
	background-color: v.$color-red-dark;
}

::selection {
	background: v.$color-red;
	color: v.$color-white;
}

.app-body {
	overflow-x: hidden;
	overflow-y: hidden;

	@include m.media('portrait') {
		overflow-y: initial;
	}
}
