/* stylelint-disable no-invalid-position-at-import-rule */
@use './util/variables.module' as v;
@use './util/mixins.module' as m;
@import '~@fontsource/libre-baskerville/latin.css';
@import '~@fontsource/cardo/latin.css';

html {
	background-color: v.$color-red-dark;
}

::selection {
	background: v.$color-red;
	color: v.$color-white;
}

.app-body {
	overflow-x: hidden;
	overflow-y: hidden;

	@include m.media('portrait') {
		overflow-y: initial;
	}
}
