@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;

$menu-transition: 0.2s;

.header {
	position: fixed;
	z-index: 999999;
}

.menu-button {
	align-items: center;
	background-color: transparent;
	border: 0;
	color: v.$white;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1rem 0 0 1rem;
	padding: 1rem;
	position: absolute;
	transition: $menu-transition;
	z-index: 1001;

	&:focus {
		outline: 0;
	}
} // TODO more reset

.menu-button-dark {
	color: v.$black;
}

.menu-bars {
	display: inline-block;
}

.menu-bar-line {
	background-color: v.$white;
	height: 2px;
	margin: 9px 1.4rem 9px 9px;
	transition: $menu-transition;
	width: 30px;
}

.menu-bar-line-dark {
	background-color: v.$black;
}

%menu-button-text {
	font-family: v.$header-font;
	font-weight: bold;
	letter-spacing: 0.15em; //TODO var
	text-decoration: none;
	text-transform: uppercase;
} // TODO combine with other menu button stuff

.menu-text {
	@extend %menu-button-text;

	float: right;
} //TODO Make sure em vs rem

.menu-text-close {
	display: none;
}

.overlay-navigation {
	background-color: transparent;
	display: none;
	height: 100%;
	overflow: hidden;
	position: fixed;
	width: 100%;
}

.menu-input {
	display: none;
}

.menu-input:checked ~ .overlay-navigation {
	display: block;
}

.menu-input:checked ~ .menu-button {
	color: v.$black;

	.menu-text-open {
		display: none;
	}

	.menu-text-close {
		display: inline;
	}

	.menu-bar-line {
		background-color: v.$black;
	}

	.menu-bar-line:first-child {
		transform: rotate(-45deg) translate(-6px, 9px);
	}

	.menu-bar-line:nth-child(2) {
		opacity: 0;
	}

	.menu-bar-line:last-child {
		transform: rotate(45deg) translate(-6px, -9px);
	}
}

.nav {
	align-content: center;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	grid-template-rows: 100%;
	height: 100%;
	justify-content: space-between;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 1000;
}

.home-button-link {
	align-items: center;
	color: v.$black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 2rem;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 0;
}
// TODO fix animation of home button appearing

.home-button-text {
	@extend %menu-button-text;
}

.home-button-icon {
	font-size: 40px;
	margin: 4px 9px 6px 1.1rem;
}
