@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;

$menu-transition: 0.2s;

.header {
	position: fixed;
	z-index: 999999;
}

.menu-button {
	align-items: center;
	background-color: transparent;
	border: 0;
	color: v.$white;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1rem 0 0 1rem;
	padding: 1rem;
	position: absolute;
	transition: $menu-transition v.$timing-function;
	z-index: 1001;

	@include m.media('<=desktop') {
		margin: 0.5rem 0 0 0.5rem;
	}

	@include m.media('<=tablet') {
		margin: 0;
		padding: 1rem 0.5rem 0.5rem 1rem;
	}

	@include m.media('<=tiny') {
		padding: 0.5rem;
	}

	&:focus {
		outline: 0;
	}
}

.menu-button-dark {
	color: v.$black;
}

.menu-button-mini {
	@include m.media('<=ultrawide') {
		margin: 0.5rem 0 0 0.5rem;
	}

	@include m.media('<=wide') {
		margin: 0;
		padding: 1rem 0.5rem 0.5rem 1rem;
		.menu-text {
			display: none;
		}
	}

	@include m.media('<=tablet') {
		padding: 0.5rem;
	}
}

.menu-bars {
	display: inline-block;
}

.menu-bar-line {
	background-color: v.$white;
	height: 2px;
	margin: 9px 1.4rem 9px 9px;
	transition: $menu-transition v.$timing-function;
	width: 30px;

	@include m.media('<=tablet') {
		margin-right: 0.7rem;
	}

	@include m.media('<=tiny') {
		height: 1px;
		margin: 7px 1.4rem 7px 7px;
		width: 23px;
	}
}

.menu-bar-line-dark {
	background-color: v.$black;
}

%menu-button-text {
	font-family: v.$header-font;
	font-weight: bold;
	letter-spacing: v.$letter-spacing-wide;
	text-decoration: none;
	text-transform: uppercase;

	@include m.media('<=tablet') {
		font-size: 90%;
	}

	@include m.media('<=phone') {
		@include m.screen-reader-disappear;
	}
}

.menu-text {
	@extend %menu-button-text;

	float: right;
} //TODO Make sure em vs rem

.menu-text-close {
	display: none;
}

.overlay-navigation {
	background-color: transparent;
	display: none;
	height: 100%;
	overflow: hidden;
	position: fixed;
	width: 100%;
}

.menu-input {
	display: none;
}

.menu-input:checked ~ .overlay-navigation {
	display: block;
}

.menu-input:checked ~ .menu-button {
	color: v.$black;

	.menu-text-open {
		display: none;
	}

	.menu-text-close {
		display: inline;
	}

	.menu-bar-line {
		background-color: v.$black;
	}

	.menu-bar-line:first-child {
		transform: rotate(-45deg) translate(-6px, 9px);

		@include m.media('<=tiny') {
			transform: rotate(-45deg) translate(-4px, 7px);
		}
	}

	.menu-bar-line:nth-child(2) {
		opacity: 0;
	}

	.menu-bar-line:last-child {
		transform: rotate(45deg) translate(-6px, -9px);

		@include m.media('<=tiny') {
			transform: rotate(45deg) translate(-4px, -8px);
		}
	}
}

.nav {
	align-content: center;
	align-items: center;
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	grid-template-rows: 100%;
	height: 100%;
	justify-content: space-between;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 1000;

	@include m.media('<=desktop') {
		//TODO var,
		grid-template-columns: 100%;
		grid-template-rows: repeat(5, minmax(0, 1fr)); //TODO var
	}
}

.home-button-link {
	align-items: center;
	color: v.$black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1rem 1rem 0 0;
	padding: 1rem;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 0;
	transition: $menu-transition v.$timing-function;
	z-index: 1001;

	@include m.media('<=desktop') {
		margin: 0.5rem 0.5rem 0 0;
	}

	@include m.media('<=tablet') {
		margin: 0;
		padding: 1rem 1rem 0.5rem 0.5rem;
	}

	@include m.media('<=tiny') {
		padding: 0.5rem;
	}
}
// TODO fix animation of home button appearing

.home-button-text {
	@extend %menu-button-text;
}

.home-button-icon {
	font-size: 40px;
	margin: 4px 9px 6px 1.1rem;

	@include m.media('<=tiny') {
		font-size: 30px;
		margin: 1px 7px 5px 1.1rem;
	}
}
