@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;
@use 'sass:color';

.book-info {
	align-items: center;
	background-color: v.$light-bg;
	color: v.$black;
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-areas: 'BookDisplay Info';
	grid-template-columns: 45% 55%;
	grid-template-rows: 100%;
	min-height: 100vh;

	@include m.media('<=wide') {
		grid-auto-rows: initial;
		grid-template-areas:
			'BookDisplay'
			'Info';
		grid-template-columns: 100%;
		grid-template-rows: 1fr;
	}
}

.book-display {
	grid-area: BookDisplay;
	margin: 5rem;
	max-height: 80vh;

	@include m.media('<=wide') {
		align-self: center;
		//TODO var
		margin: 2rem 1rem 1rem;
	}
}

.info {
	@include m.neumorphic-intensity(
		17px,
		55px,
		v.$light-bg,
		11%
	); //TODO consistent with single post

	align-self: center;
	border-radius: v.$border-radius * 2; //TODO figure out
	grid-area: Info;
	margin: 3rem 2rem 3rem 0;
	max-width: 47rem; // TODO max-width same as post -- var
	padding: 4rem;

	// TODO share some consistency with single post
	@include m.media('<=wide') {
		margin: 2rem 2rem 3rem;
		place-self: center;
	}

	@include m.media('<=tablet') {
		margin: 1rem 1rem 2rem;
		padding: 3rem 2rem;
	}

	@include m.media('<=phone') {
		border-radius: 0;
		margin: 1rem 0 2rem;
		padding: 2rem 1rem;
	}

	@include m.media('<=ultratiny') {
		padding: 2rem 0.5rem;
	}
}

.header {
	@include m.successive-headings;
}

.sub-header {
	@include m.header-normal;
}

.author-header {
	@include m.header-normal;
}

.author-link {
	color: v.$black;
}

.more-info {
	color: v.$black;
	font-style: italic;
	margin-left: 1rem;
	padding: 1rem;

	@include m.media('<=phone') {
		display: block;
		text-align: center;
	}

	@include m.media('>phone') {
		@include m.fancy-hover-link($margin: 0 -1rem 1rem);
	}
}

.text {
	margin-bottom: 2rem;

	a {
		@include m.fancy-hover-link;
	}
}
