@use '~styles/util/variables.global' as v;

.book-info {
	background-color: v.$light-bg;
	display: grid;
	grid-template-columns: 50% 40%;
	grid-template-rows: 100%;
	min-height: 100vh;
} //TODO fix columns

%headers {
	font-family: v.$header-font;
} //TODO sizes

.book-display {
	grid-column: 1;
}

.info {
	grid-column: 2;
	align-self: center;

	p {
		font-family: v.$body-font;
	}
}

.header {
	@extend %headers;
}

.sub-header {
	@extend %headers;
}

.author-header {
	@extend %headers;
}
