@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;
@use 'sass:color';

.book-info {
	align-items: center;
	background-color: v.$light-bg;
	color: v.$black;
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: 45% 55%;
	grid-template-rows: 100%;
	min-height: 100vh;

	@include m.media('<=wide') {
		grid-auto-rows: initial;
		//TODO var
		grid-template-columns: 100%;
		grid-template-rows: 1fr;
	}
} //TODO fix columns -- padding/ect. on 1024

.book-display {
	margin: 5rem;
	max-height: 80vh;

	@include m.media('<=wide') {
		align-self: center;
		//TODO var
		margin: 2rem 1rem 1rem;
	}
}

.info {
	@include m.neumorphic-intensity(
		17px,
		55px,
		v.$light-bg,
		11%
	); //TODO consistent with single post

	align-self: center;
	border-radius: v.$border-radius * 2; //TODO figure out
	margin: 2rem 2rem 2rem 0;
	// TODO max-width same as post
	max-width: 47rem;
	padding: 4rem; // TODO fix on mobile
	@include m.media('<=wide') {
		//TODO var
		margin: 1rem 2rem 2rem;
		// TODO this should prolly be 1200
		place-self: center;
	}
	@include m.media('<=tablet') {
		margin: 1rem 1rem 2rem;
		padding: 3rem 2rem;
	}
	@include m.media('<=phone') {
		margin: 1rem 0 2rem;
		padding: 2rem 1rem;
		border-radius: 0;
	}
}

.header {
	@include m.successive-headings;
}

.sub-header {
	@include m.header-normal;
}

.author-header {
	@include m.header-normal;
	a {
		@include m.fancy-hover-link($bottom: 1px);
	}
}

.author-link {
	color: v.$black;
}

.more-info {
	color: v.$black;
	font-style: italic;
	margin-left: 1rem;
	padding: 1rem;
	@include m.fancy-hover-link($margin: 0 -1rem 1rem);
	@include m.media('<=phone') {
		text-align: center;
		display: block;
	}
} // TODO break to next line at small sizes

.text {
	margin-bottom: 2rem;
	a {
		@include m.fancy-hover-link;
	}
}
