@use '~styles/util/variables.global' as v;

.single-post {
	background-color: v.$white;
}

.post-header-section {
	align-items: flex-start;
	background-position: initial;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: flex-end;

	&::before {
		filter: blur(
			2px
		); // TODO change based on screen size and/or increase pulled image size
	}
}

.headings {
	color: v.$white;
}

%heading-common {
	color: v.$white;
	margin-left: 2rem;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
} // TODO typography

.post-main-header {
	@extend %heading-common;
	margin-bottom: 0;
}
//TODO space above
//TODO no subtitle spacing

.post-content-container {
	align-items: center;
	color: v.$black;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	max-width: 47rem; //TODO set to variable
	margin-left: auto;
	margin-right: auto;
}

.post-content {
	text-align: left;
}

.post-meta {
}
