@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;

.post-container {
	background-color: v.$light-bg;
}

.single-post {
	align-items: center;
	color: v.$black;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	max-width: 47rem; //TODO set to variable
	margin-left: auto;
	margin-right: auto;
}

.headings {
	text-align: center;
	margin-top: 10vh;
	margin-bottom: 1rem;
}

.successive-headings {
	margin-bottom: 0.4rem;
}

.title {
}

.subtitle {
	@include m.header-normal;
}

.extraHeaderText {
	@include m.header-normal;
	font-family: v.$body-font;
}

.post-image {
	width: 30rem;
	margin-bottom: 2rem;
} //TODO var?

.post-content {
	text-align: left;
}
//TODO menu

.post-meta {
}
