@use '~styles/util/variables.global' as v;

.post-header-section {
	align-items: flex-start;
	background-position: initial;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: flex-end;

	&::before {
		filter: blur(
			2px
		); // TODO change based on screen size and/or increase pulled image size
	}
}

.headings {
	color: v.$white;
}

%heading-common {
	color: v.$white;
	font-family: v.$header-font;
	letter-spacing: 0.05em;
	margin-left: 2rem;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
} // TODO typography

.post-main-header {
	@extend %heading-common;
	font-size: v.$heading-size;
	margin-bottom: 0;
}
//TODO space above
//TODO no subtitle spacing

.post-sub-header {
	@extend %heading-common;
	font-size: v.$sub-heading-size;
	font-weight: normal;
	margin-top: 0;
}

.post-content-container {
	align-items: center;
	background-color: v.$white;
	color: v.$black;
	display: flex;
	flex-direction: column;
	font-family: v.$body-font;
	font-size: v.$paragraph-size;
	padding: 1rem;
}

.post-content {
	max-width: 960px; //TODO set to variable
	text-align: left;
}

.post-meta {
}
