@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;

.nav-link-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	transition: 0.1s v.$timing-function;
	width: 100%;
	&::before,
	&::after {
		visibility: hidden;
	}

	&:hover::before,
	&:hover::after {
		visibility: visible;
	} // TODO order the image loading? -- loading eager
	// TODO durationfadein for images?
}

.nav-link {
	animation: menuup 0.3s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	background-color: v.$white;
	border-right: 1px solid v.$subtle-gray;
	bottom: -100vh;
	color: v.$black;
	grid-row: 1;
	height: 100%;
	position: relative;
	text-decoration: none;
	width: 100%;
	will-change: transform;

	@for $i from 1 through 10 {
		&:nth-child(#{$i}) {
			animation-delay: (55ms * $i) - 55ms;
		}
	}

	&:last-of-type {
		border-right: 0;
	}

	&:hover {
		@include m.header-text-shadow;

		background-color: v.$dark-bg;
		color: v.$white;
	}
}

@keyframes menuup {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-100vh);
	}
}

%nav-header {
	text-align: center;
}

.nav-header {
	@extend %nav-header;

	font-size: 1.7vw;
	grid-row: 1;
	letter-spacing: 0.15em; //TODO var
	margin-bottom: 0.3rem;
	text-transform: uppercase;
}

.nav-sub-header {
	@extend %nav-header;

	font-size: 0.8vw;
	grid-row: 1;
	margin-top: 0;
}
