@use '~styles/util/variables.global' as v;

$card-height: 60vh;
$card-margin: 100px;
$card-border: 35px;
$card-width: $card-height/1.5;
$header-height: 5vh;
$filter-menu-height: (100vh - $card-height)/2 - $header-height;
$timeline-height: (100vh - $card-height)/2 - $header-height;

%hide-scrollbars {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

// TODO -- JS for touch scrolling sideways

:global(body) {
	overflow-x: hidden;
} //TODO footer
// TODO better way? since it carries over to the site maybe ok

.chronology {
	background-color: v.$blue-bg;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: $header-height $filter-menu-height $card-height $timeline-height;
	height: 100vh;
	width: 100vw;
}

.chronology-title {
	color: v.$white;
	font-family: v.$header-font;
	grid-column: 1;
	grid-row: 1;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
} // TODO letter spacing

.filter-menu {
	align-items: center;
	color: v.$white;
	display: flex;
	flex-direction: row;
	grid-column: 1;
	grid-row: 2;
	justify-content: space-around;
}

.filter-menu-link {
	cursor: pointer;
	z-index: 999;
}

.selected-link {
	text-decoration: underline;
}

.card-container-wrapper {
	@extend %hide-scrollbars;
	grid-row: 3;
	height: 100vw;
	min-width: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-right: 45px; // TODO box-shadow vars
	position: absolute;
	top: $header-height + $filter-menu-height;
	transform: rotate(-90deg) translateX(-100vmin); // TODO verify vmin
	transform-origin: top left;
}

.card-container {
	align-items: center;
	display: flex;
	flex-direction: row;
	transform: rotate(90deg) translateY(-100vmin);
	transform-origin: top left;
}

.card {
	background-color: v.$blue-card-bg;
	box-shadow: 15px 15px 30px #01060a, -15px -15px 30px #092435; //TODO vars and mixins
	box-sizing: border-box;
	color: v.$white;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr $card-border;
	margin: 0 $card-margin 0 0;
	max-height: $card-height;
	overflow: hidden;
	transition: 250ms cubic-bezier(0.65, 0.05, 0.36, 1);
	width: $card-width;
	will-change: width;
}

.card-hidden {
	width: 0;
}

.inner-card {
	border: $card-border solid transparent;
	box-sizing: border-box;
	grid-column: 1;
	grid-row-end: 3;
	grid-row-start: 1;
	overflow-y: auto;
	width: $card-width;
}

.card-header {
	outline: none;
}

.title-link {
	color: v.$white;
}

.card-header-no-image {
	margin-top: 0;
}

.card-image {
	max-height: $card-height * 0.7;
	object-fit: contain;
	outline: none;
	width: 100%;
}

.card-text {
	font-family: v.$body-font;
	font-size: v.$paragraph-size;
}

.display-date {
	align-self: center;
	grid-column: 1;
	grid-row: 2;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
	width: $card-width;
}

.buffer {
	height: $card-height;
	width: $card-margin;
}

.timeline {
	color: v.$white;
	grid-row: 4;
}
