@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;
@use '~styles/util/functions.global' as f;
@use 'sass:color';

.card {
	//TODO remove color vars
	@include m.neumorphic-intensity(
		12px,
		25px,
		v.$blue-bg,
		80%
	); // TODO consistency with rest of site

	animation-fill-mode: both;
	background-color: v.$blue-card-bg;
	border-radius: v.$border-radius;
	box-sizing: border-box;
	color: v.$white;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr v.$card-border;
	overflow: hidden;
	transition: none;

	@include m.media('landscape') {
		animation: card-scaleX-to-show 0ms;
		margin: 0 v.$card-margin 0 0;
		max-height: calc(100vh - #{v.$card-total-margin});
		width: v.$card-width; //TODO right?
		will-change: transform, width, margin;
		@include m.media('height<=HEIGHT_short') {
			max-height: calc(100vh - #{v.$card-total-margin-short});
		}
		@include m.media('height<=HEIGHT_shorter') {
			@include m.neumorphic-intensity(
				10px,
				15px,
				v.$blue-bg,
				80%
			); // TODO consistency with rest of site

			animation: card-scaleX-to-show-shorter 0ms;
			grid-template-rows: 1fr v.$card-border-shorter;
			margin: 0 v.$card-margin-shorter 0 0;
			max-height: calc(100vh - #{v.$card-total-margin-shorter});
			width: v.$card-width-shorter;
		}

		@include m.media('height<=HEIGHT_ultratiny') {
			@include m.neumorphic-intensity(
				8px,
				12px,
				v.$blue-bg,
				80%
			); // TODO consistency with rest of site
		}
	}

	@include m.media('portrait') {
		animation: card-scaleY-to-show 0ms;
		margin: 0 auto v.$card-margin auto;
		max-height: v.$card-portrait-max-height;
		width: v.$card-portrait-width;
		will-change: transform, height, margin;

		// TODO tiny intensity
	}
}

.hidden {
	@include m.media('landscape') {
		animation: card-scaleX-to-hide 0ms;
		@include m.media('height<=HEIGHT_shorter') {
			animation: card-scaleX-to-hide-shorter 0ms;
		}
	}

	@include m.media('portrait') {
		animation: card-scaleY-to-hide 0ms;
	}
}

.animate {
	animation-duration: 200ms;
	animation-fill-mode: both;
	animation-timing-function: v.$timing-function;
}

.inner {
	@include m.custom-scrollbar(v.$blue-card-bg, v.$white);

	border: v.$card-border solid transparent;
	box-sizing: border-box;
	display: grid;
	grid-area: 1 / 1 / 3 / 2;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(0, max-content) minmax(0, min-content); //TODO massacre of tranent and perfect spacing
	grid-template-areas: 'Image' 'TextContainer';
	overflow-y: auto;
	//TODO name grids everywhere
	// TODO remove image named grid
	@include m.media('landscape') {
		width: v.$card-width;
		@include m.media('height<=HEIGHT_shorter') {
			border: v.$card-border-shorter solid transparent;
			width: v.$card-width-shorter;
		}
	}
	@include m.media('portrait') {
		width: 80vw; //TODO var
	}
}

.text-container {
	grid-area: TextContainer;
}

.header {
	text-align: center;
	outline: none;
	word-break: break-word;

	// TODO margin and for text
	@include m.media('landscape') {
		@include m.media('height<=HEIGHT_tiny') {
			font-size: 1.2rem; //TODO rem;
		}
		@include m.media('height<=HEIGHT_ultratiny') {
			font-size: 1rem; //TODO rem;
		}
	}
}

.title-link {
	color: v.$white;
	margin-bottom: 1rem;

	.image {
		margin-bottom: 0;
	}
}

.header-no-image {
	margin-top: 0;
}

.image {
	grid-area: Image;
	margin-bottom: 1rem;
	max-height: 100%;
	object-fit: contain;
	object-position: center 35%;
	outline: none;
	width: 100%;
}
// TODO Zoom
// TODO fix mixins and ect. for breakpoints
// TODO border on bottom of menu

.text {
	text-align: justify;
	color: color.adjust(v.$white, $lightness: -7%); //TODO var
	white-space: break-spaces;
	@include m.media('landscape') {
		@include m.media('height<=HEIGHT_ultratiny') {
			font-size: 0.85rem; //TODO rem;
		}
	}
}

.display-date {
	align-self: center;
	font-size: 0.85rem; //TODO var
	grid-area: 2 / 1 / 3 / 2;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
	width: v.$card-width; // TODO portrait

	@include m.media('landscape') {
		@include m.media('height<=HEIGHT_shorter') {
			width: v.$card-width-shorter;
		}
		@include m.media('height<=HEIGHT_tiny') {
			font-size: 2.9vh; //TODO rem;
		}
	}
}

@keyframes card-scaleX-to-hide {
	0% {
		margin: 0 v.$card-margin 0 0;
		transform: scaleX(1);
		width: v.$card-width;
	}
	49.9% {
		margin: 0 v.$card-margin 0 0;
		width: v.$card-width;
	}
	50% {
		margin: 0 v.$card-margin/2 0 0;
		width: v.$card-width/2;
	}
	99.9% {
		margin: 0 v.$card-margin/2 0 0;
		transform: scaleX(0);
		width: v.$card-width/2;
	}
	100% {
		margin: 0;
		width: 0;
	}
}

@keyframes card-scaleX-to-show {
	0% {
		margin: 0;
		transform: scaleX(0);
		width: 0;
	}
	49.9% {
		margin: 0;
		width: 0;
	}
	50% {
		margin: 0 v.$card-margin/2 0 0;
		width: v.$card-width/2;
	}
	99.9% {
		margin: 0 v.$card-margin/2 0 0;
		transform: scaleX(1);
		width: v.$card-width/2;
	}
	100% {
		margin: 0 v.$card-margin 0 0;
		width: v.$card-width;
	}
}

@keyframes card-scaleY-to-hide {
	0% {
		margin: 0 auto v.$card-margin auto;
		max-height: v.$card-portrait-max-height;
		transform: scaleY(1);
	}
	49.9% {
		margin: 0 auto v.$card-margin auto;
		max-height: v.$card-portrait-max-height;
	}
	50% {
		margin: 0 auto v.$card-margin/2 auto;
		max-height: v.$card-portrait-max-height/2;
	}
	99.9% {
		margin: 0 auto v.$card-margin/2 auto;
		max-height: v.$card-portrait-max-height/2;
		transform: scaleY(0);
	}
	100% {
		margin: 0;
		max-height: 0;
	}
}

@keyframes card-scaleY-to-show {
	0% {
		margin: 0;
		max-height: 0;
		transform: scaleY(0);
	}
	49.9% {
		margin: 0;
		max-height: 0;
	}
	50% {
		margin: 0 auto v.$card-margin/2 auto;
		max-height: v.$card-portrait-max-height/2;
	}
	99.9% {
		margin: 0 auto v.$card-margin/2 auto;
		max-height: v.$card-portrait-max-height/2;
		transform: scaleY(1);
	}
	100% {
		margin: 0 auto v.$card-margin auto;
		max-height: v.$card-portrait-max-height;
	}
}

@keyframes card-scaleX-to-hide-shorter {
	0% {
		margin: 0 v.$card-margin-shorter 0 0;
		transform: scaleX(1);
		width: v.$card-width-shorter;
	}
	49.9% {
		margin: 0 v.$card-margin-shorter 0 0;
		width: v.$card-width-shorter;
	}
	50% {
		margin: 0 v.$card-margin-shorter/2 0 0;
		width: v.$card-width-shorter/2;
	}
	99.9% {
		margin: 0 v.$card-margin-shorter/2 0 0;
		transform: scaleX(0);
		width: v.$card-width-shorter/2;
	}
	100% {
		margin: 0;
		width: 0;
	}
}

@keyframes card-scaleX-to-show-shorter {
	0% {
		margin: 0;
		transform: scaleX(0);
		width: 0;
	}
	49.9% {
		margin: 0;
		width: 0;
	}
	50% {
		margin: 0 v.$card-margin-shorter/2 0 0;
		width: v.$card-width-shorter/2;
	}
	99.9% {
		margin: 0 v.$card-margin-shorter/2 0 0;
		transform: scaleX(1);
		width: v.$card-width-shorter/2;
	}
	100% {
		margin: 0 v.$card-margin-shorter 0 0;
		width: v.$card-width-shorter;
	}
}
