@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;

.menu {
	box-shadow: 0 0 15px v.$black;
	grid-column: 2;
	overflow-y: scroll;
	padding: 1rem;
}

.menu-list {
	list-style: none;
	margin-left: 0;
}

.menu-list li {
	font-size: 1.31951rem;
	line-height: 1.1;
	margin-bottom: 1.38rem;
}

.link {
	color: v.$black;
	text-decoration: none;
}

.selected {
	text-decoration: underline;
}
