@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;

.menu {
	background-color: v.$light-bg;
	box-shadow: 0 0 15px v.$black;
	grid-column: 2;
	overflow-y: scroll;
	padding: 1rem;
}

.menu-list {
	list-style: none;
	margin-left: 0;
}
