@use '~styles/util/variables.module' as v;

.footer {
	align-items: center;
	background-color: v.$color-red-black;
	color: v.$color-white;
	display: flex;
	justify-content: center;
	min-height: 5vh;
}
