// typography related
$baseSize: 16px;
$heroLargeSize: 4rem;
$heroSub: 1.5rem;
$heroSmall: 1.125rem;
$headerFont: 'Libre Baskerville', serif;
$bodyFont: 'Cardo', serif;

// colors
$white: #f7f7f7;
$red: #550003;
$darkBg: #260101;
$lightBg: #f2e3d0;
$blackBg: #130101;
$black: #222;
$blueBg: #051926;
