@use '~styles/util/variables.global' as v;

.chronology {
	align-items: center;
	background-color: v.$blue-bg;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 15% 1fr 15%;
	justify-items: center;
	min-height: 100vh;
	position: relative;
}

.title {
	//TODO break out header tags into global font family
	color: v.$white;
	font-family: v.$header-font;
	grid-row: 1;
}

.timeline {
	color: v.$light-bg;
	grid-row: 2;
}

.line {
	background-color: v.$light-bg;
	height: 1px;
	position: absolute;
	right: 0;
	top: 50%;
	width: 50vw;
} //TODO add in snap positions for sections

.chrono-item {
	align-items: center;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items: center;
}

.chrono-text {
	font-family: v.$body-font;
	font-size: v.$paragraph-size;
	grid-row: 1;
}

.chrono-point {
	background-color: v.$light-bg;
	border-radius: 50%;
	grid-row: 2;
	height: 2.25rem;
	width: 2.25rem;
}

.chrono-year {
	align-self: start;
	color: v.$light-bg;
	font-family: v.$header-font;
	font-size: v.$chrono-year-size;
	font-style: italic;
	grid-row: 3;
}
