@use '~styles/util/variables.module' as v;
@use '~styles/util/mixins.module' as m;

.item {
	font-size: 1.31951rem;
	line-height: 1.1;
	margin-bottom: 1.38rem;
}

.link {
	color: v.$black;
	text-decoration: none;
}

.selected {
	text-decoration: underline;
}
