@use '~styles/util/variables.global' as v;
@use 'sass:color';

$light-shadow-intensity: 2%;
$dark-shadow-intensity: 12%;
$drop-shadow-offset: 5px;
$drop-shadow-blur: 20px;
$masonry-margin: 5em;

$dark-drop-shadow-color: color.adjust(
	v.$red,
	$lightness: -$dark-shadow-intensity
);
$light-drop-shadow-color: color.adjust(
	v.$red,
	$lightness: $light-shadow-intensity
);

.masonry {
	box-sizing: border-box;
	column-count: 3;
	column-fill: balance;
	column-gap: $masonry-margin;
	margin: $masonry-margin;
}

.item {
	background-color: v.$red;
	box-shadow: $drop-shadow-offset $drop-shadow-offset $drop-shadow-blur
			$dark-drop-shadow-color,
		(-$drop-shadow-offset) (-$drop-shadow-offset) $drop-shadow-blur
			$light-drop-shadow-color;
	box-sizing: border-box;
	display: inline-block;
	margin: 0 0 $masonry-margin;
	position: relative;
	width: 100%;
}

$r: red(v.$red);
$g: green(v.$red);
$b: blue(v.$red);

.header {
	align-items: end;
	background: linear-gradient(
		180deg,
		rgba($r, $g, $b, 0) 46.35%,
		rgba($r, $g, $b, 0.35) 66.67%,
		rgba($r, $g, $b, 0.45) 100%
	);
	bottom: 0;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	height: 100%;
	padding-bottom: 1rem;
	pointer-events: none;
	position: absolute;
	width: 100%;
}

// TODO: font size and text shadow

.item-image {
	opacity: 0.8;
	position: initial;
	transition: 0.1s;

	&:hover {
		opacity: 1;
	}
}

%headings {
	color: v.$white;
	font-family: v.$header-font;
	letter-spacing: 0.05em;
	margin-left: 2rem;
	margin-right: 2rem;
}

.title {
	@extend %headings;
}

.subtitle {
	@extend %headings;

	font-weight: normal;
}
