@use '~styles/util/variables.global' as v;
@use 'sass:color';

$light-shadow-intensity: 2%;
$dark-shadow-intensity: 12%;
$drop-shadow-offset: 5px;
$drop-shadow-blur: 20px;
$masonry-margin: 5em;

$dark-drop-shadow-color: color.adjust(
	v.$red,
	$lightness: -$dark-shadow-intensity
);
$light-drop-shadow-color: color.adjust(
	v.$red,
	$lightness: $light-shadow-intensity
);

.masonry {
	box-sizing: border-box;
	column-count: 3;
	column-fill: balance;
	column-gap: $masonry-margin;
	margin: $masonry-margin;
}

.link {
	box-sizing: border-box;
	display: inline-block;
	margin: ($masonry-margin/2) 0;
	width: 100%;
}

.item {
	background-color: v.$red;
	box-shadow: $drop-shadow-offset $drop-shadow-offset $drop-shadow-blur
			$dark-drop-shadow-color,
		(-$drop-shadow-offset) (-$drop-shadow-offset) $drop-shadow-blur
			$light-drop-shadow-color;
	position: relative;
	width: 100%;
}

$r: red(v.$red);
$g: green(v.$red);
$b: blue(v.$red);

.header {
	align-items: end;
	bottom: 0;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	height: 100%;
	padding-bottom: 1rem;
	pointer-events: none;
	position: absolute;
	width: 100%;
}

// TODO: font size and text shadow

.item-image {
	filter: grayscale(100%);
	opacity: 0.6;
	position: initial;
	transition: 0.1s;

	&:hover {
		filter: grayscale(0%);
		opacity: 1;
	}
}

%headings {
	color: v.$white;
	font-family: v.$header-font;
	letter-spacing: 0.05em;
	margin-left: 2rem;
	margin-right: 2rem;
	text-shadow: 0 1px 4px v.$black;
}

.title {
	@extend %headings;
}

.subtitle {
	@extend %headings;

	font-weight: normal;
}
