@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;

$area-grabber-height: 50px;
$area-grabber-opacity: 0.3;

.timeline {
	align-items: flex-end;
	color: v.$white;
	display: flex;
	flex-direction: row;
	grid-row: 3;
	justify-content: space-around;

	@include m.media('portrait') {
		display: none; // TODO build this out
	}
} // TODO bug with scrollbar hiding last tick?

.area-grabber {
	@include m.neumorphic-button(
		4px,
		8px,
		rgba(v.$white, $area-grabber-opacity + 0.1),
		20%
	);

	background: rgba(v.$white, $area-grabber-opacity);
	cursor: grab;
	height: $area-grabber-height;
	left: 0;
	position: absolute;
	transition: width 100ms v.$timing-function; //TODO test phone and check if 5ms left transition is good/bad
	user-select: none;
	will-change: width, transform;
	z-index: 9999;
}

.is-scrolling {
	cursor: ew-resize;
}

.year {
	color: v.$light-bg;
	font-family: v.$header-font;
	font-size: v.$chrono-year-size;
	font-style: italic;
	position: absolute;
	top: calc(-#{v.$chrono-year-size} - 4px);
	user-select: none;
	white-space: nowrap;
	will-change: transform;
}

.tick {
	@include m.neumorphic-intensity(1px, 2px, v.$blue-bg, 250%); //TODO nope

	background: v.$blue-bg;
	height: $area-grabber-height - 15;
	width: 3px;
}

.tick:nth-of-type(2n) {
	height: $area-grabber-height - 25;
}
