@use '~styles/util/variables.global' as v;

.timeline {
	align-items: flex-end;
	color: v.$white;
	display: flex;
	flex-direction: row;
	grid-row: 4;
	justify-content: space-between;
} // TODO bug with scrollbar hiding last tick?

.area-grabber {
	background: v.$white;
	cursor: grab;
	height: 50px;
	opacity: 0.5;
	position: absolute;
	transition: width 150ms v.$timing-function, left 5ms; //TODO test phone and check if 5ms left transition is good/bad
	will-change: width, left;
	z-index: 9999;
}

.is-scrolling {
	cursor: ew-resize;
}

.tick {
	background: v.$white;
	height: 30px;
	width: 1px;
}
