@use './variables.global' as v;
@use './functions.global' as f;
@use 'sass:color';
@use 'sass:map';

@import 'node_modules/include-media/dist/include-media';
$breakpoints: v.$breakpoints;

/* stylelint-disable max-nesting-depth */
@mixin header-normal {
	font-weight: normal;
	letter-spacing: 0;
}

@mixin successive-headings {
	margin-bottom: 0.4rem;
}

@mixin header-text-shadow {
	text-shadow: 0 1px 2px v.$black;
}

@mixin custom-scrollbar($scroll-bg, $thumb-bg) {
	scrollbar-color: $thumb-bg $scroll-bg;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 11px;
	}

	&::-webkit-scrollbar-track {
		background: $scroll-bg;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $thumb-bg;
		border: 3px solid $scroll-bg;
		border-radius: 6px;
	}
}

@mixin hide-scrollbars {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

//TODO add to contenders in some form

@mixin fancy-hover-link($color: v.$black, $bottom: 4px, $margin: 0) {
	position: relative;

	&::before,
	&::after {
		background-color: $color;
		bottom: $bottom;
		content: '';
		height: 1px;
		margin: $margin;
		opacity: 0;
		position: absolute;
		transition: all 150ms v.$timing-function;
		width: 0;
	}
	&::before {
		left: 50%;
	}
	&::after {
		right: 50%;
	}
	&:hover {
		cursor: pointer;
		&::before,
		&::after {
			opacity: 1;
			width: 50%;
		}
	}
}

@mixin neumorphic-full(
	$shadow-size: 0,
	$shadow-spread: $shadow-size * 2,
	$bottom-color: v.$dark-bg,
	$top-color: v.$dark-bg
) {
	box-shadow: $shadow-size $shadow-size $shadow-spread $bottom-color,
		(-$shadow-size) (-$shadow-size) $shadow-spread $top-color;
}

@mixin neumorphic-intensity(
	$shadow-size: 0,
	$shadow-spread: $shadow-size * 2,
	$base-color: v.$dark-bg,
	$intensity: 50%
) {
	$top-color: f.color-difference-adjust($base-color, ($intensity/100));
	$bottom-color: f.color-difference-adjust($base-color, (-$intensity/100));

	@include neumorphic-full(
		$shadow-size,
		$shadow-spread,
		$bottom-color,
		$top-color
	);
}

@mixin neumorphic-button(
	$inset-shadow-size: 0,
	$inset-shadow-spread: $inset-shadow-size * 2,
	$base-color: v.$dark-bg,
	$intensity: 50%,
	$shadow-size: 0,
	$shadow-color: v.$black
) {
	$top-inset-color: f.color-difference-adjust($base-color, ($intensity/100));
	$bottom-inset-color: f.color-difference-adjust(
		$base-color,
		(-$intensity/100)
	);

	box-shadow: inset (-$inset-shadow-size) (-$inset-shadow-size)
			$inset-shadow-spread $bottom-inset-color,
		inset $inset-shadow-size $inset-shadow-size $inset-shadow-spread
			$top-inset-color,
		0 0 $shadow-size $shadow-color;
}

@mixin neumorphic-raised-button(
	$base-color: v.$dark-bg,
	$intensity: 50%,
	$reverse: false
) {
	@if $reverse {
		$intensity: -$intensity;
	}

	$from: f.color-difference-adjust($base-color, ($intensity/100));
	$to: f.color-difference-adjust($base-color, (-$intensity/100));

	background: linear-gradient(145deg, $from, $to);
}

@mixin screen-reader-disappear {
	left: 0;
	padding: 8px;
	position: absolute;
	top: -100vh;
	z-index: 100;

	&:focus {
		top: 0;
	}
}

@mixin filter-menu-link-small {
	font-size: 1.05rem; //TODO var
	padding: 0.5rem 1rem;
}

// Use 'default' for blank default size
@mixin card-scalex-keyframe-generate($margin-map, $width-map, $sizes...) {
	@for $i from 0 to length($sizes) {
		$size: nth($sizes, $i + 1);
		$margin: map.get($margin-map, $size);
		$width: map.get($width-map, $size);
		$animation-hide-name: 'card-scaleX-to-hide';
		$animation-show-name: 'card-scaleX-to-show';
		@if $size != 'default' {
			$animation-hide-name: 'card-scaleX-to-hide-#{$size}';
			$animation-show-name: 'card-scaleX-to-show-#{$size}';
		}

		@keyframes #{$animation-hide-name} {
			0% {
				margin: 0 $margin 0 0;
				transform: scaleX(1);
				width: $width;
			}
			49.9% {
				margin: 0 $margin 0 0;
				width: $width;
			}
			50% {
				margin: 0 $margin/2 0 0;
				width: $width/2;
			}
			99.9% {
				margin: 0 $margin/2 0 0;
				transform: scaleX(0);
				width: $width/2;
			}
			100% {
				margin: 0;
				width: 0;
			}
		}

		@keyframes #{$animation-show-name} {
			0% {
				margin: 0;
				transform: scaleX(0);
				width: 0;
			}
			49.9% {
				margin: 0;
				width: 0;
			}
			50% {
				margin: 0 $margin/2 0 0;
				width: $width/2;
			}
			99.9% {
				margin: 0 $margin/2 0 0;
				transform: scaleX(1);
				width: $width/2;
			}
			100% {
				margin: 0 $margin 0 0;
				width: $width;
			}
		}
	}
}
