// typography related //TODO remove more of these or convert to vw
$hero-large-size: 4rem;
$hero-sub-size: 1.5rem;
$hero-tiny-size: 1.125rem;
$chrono-year-size: 2.25rem;
$header-font: 'Libre Baskerville', serif;
$body-font: 'Cardo', serif;

// colors
$white: #f7f7f7;
$red: #550003;
$dark-bg: #260101;
$light-bg: #f2e3d0;
$black-bg: #130101;
$blue-bg: #051926;
$pastel-bg: #bfaaaa;
$black: #222;
$subtle-gray: #aaa;
$blue-card-bg: #030e15;

// animation
$timing-function: cubic-bezier(0.65, 0.05, 0.36, 1); //TODO make sure consistent

/*stylelint-disable */
// export for JS
:export {
	headerFont: $header-font;
	bodyFont: $body-font;
}
