@use 'sass:math';
@use './functions.module' as f;

// typography related
$base-size: f.$base-size; // To avoid circular reference
$base-line-height: 1.38;
$base-scale-ratio: 2;

// typography.js calculations -- 35 and 7 not in library
$font-size-h1: math.pow($base-scale-ratio, calc(5 / 5)) * 1rem; // 2.000rem
$font-size-h2: math.pow($base-scale-ratio, calc(3 / 5)) * 1rem; // 1.515rem
$font-size-h3: math.pow($base-scale-ratio, calc(2 / 5)) * 1rem; // 1.319rem
$font-size-h35: math.pow($base-scale-ratio, calc(1 / 5)) * 1rem; // 1.149rem
$font-size-h4: math.pow($base-scale-ratio, calc(0 / 5)) * 1rem; // 1.000rem
$font-size-h5: math.pow($base-scale-ratio, calc(-1 / 5)) * 1rem; // 0.871rem
$font-size-h6: math.pow($base-scale-ratio, calc(-1.5 / 5)) * 1rem; // 0.812rem
$font-size-h7: math.pow($base-scale-ratio, calc(-1.6 / 5)) * 1rem; // 0.801rem

$font-size-hero-title: 4rem;
$font-size-chrono-year: 2.25rem;
$font-size-filter-menu-small: 1.05rem;

// font family
$font-family-header: 'Libre Baskerville', 'Georgia Pro', georgia,
	'Times New Roman', serif;
$font-family-body: 'Cardo', Garamond, 'Times New Roman', serif;

// letter spacing
$letter-spacing: 0.05em;
$letter-spacing-wide: 0.15em;

// colors
$color-perfect-white: #fff;
$color-white: #f7f7f7;
$color-red: #550003;
$color-red-dark: #260101;
$color-red-black: #130101;
$color-red-pastel: #bfaaaa;
$color-red-white: #f2e3d0;
$color-blue: #051926;
$color-blue-black: #030e15;
$color-black: #222;
$color-gray: #aaa;

// animation
$timing-quick: cubic-bezier(0.65, 0.05, 0.36, 1);
$timing-gradual: cubic-bezier(0.22, 0.61, 0.36, 1);

// border-radius
$border-radius-large: 1rem;
$border-radius-normal: 0.5rem;
$border-radius-small: 0.25rem;
$border-radius-tiny: 0.125rem;

// chronology
$filter-menu-height: 60px;
$filter-menu-height-short: 45px;
$timeline-height: 90px;
$timeline-height-short: 50px;
$timeline-height-shorter: 30px;
$timeline-area-grabber-height: $timeline-height-short;
$timeline-area-grabber-height-shorter: $timeline-height-shorter;
$timeline-area-grabber-opacity: 0.3;
$card-height: 70vh;
$card-portrait-max-height: 100%;
$card-portrait-animation-height: 50vh;
$card-portrait-width-phone: 90vw;
$card-portrait-width-tablet: 85vw;
$card-portrait-width-desktop: 80vw;
$card-portrait-width: 75vw;
$card-width: math.div($card-height, 1.3);
$card-width-shorter: math.div($card-height, 1.1);
$card-width-ultratiny: math.div($card-height, 0.9);
$card-margin: 100px;
$card-margin-shorter: 75px;
$card-margin-ultratiny: 60px;
$card-top-margin: 40px;
$card-top-margin-short: 30px;
$card-top-margin-shorter: 20px;
$card-top-margin-ultratiny: 10px;
$card-bottom-margin: 25px;
$card-bottom-margin-short: 20px;
$card-bottom-margin-shorter: 13px;
$card-bottom-margin-ultratiny: 10px;
$card-border: 35px;
$card-border-shorter: 17px;
$card-total-margin: $filter-menu-height + $timeline-height + $card-top-margin +
	$card-bottom-margin;
$card-total-margin-short: $filter-menu-height-short + $timeline-height-short +
	$card-top-margin-short + $card-bottom-margin-short;
$card-total-margin-shorter: $filter-menu-height-short + $timeline-height-shorter +
	$card-top-margin-shorter + $card-bottom-margin-shorter;
$card-total-margin-shorter: $filter-menu-height-short + $timeline-height-shorter +
	$card-top-margin-shorter + $card-bottom-margin-shorter;
$card-total-margin-ultratiny: $filter-menu-height-short +
	$card-top-margin-ultratiny + $card-bottom-margin-ultratiny;

// contenders
$contenders-image-width: calc(100vw / 3 * 2);

// single posts
$post-max-width: 51rem;
$post-border-shadow-size: 17px;
$post-border-shadow-spread: 45px;
$post-border-shadow-intensity: 14%;

// @media -- imported in mixins file
$breakpoints: (
	'ultratiny': 320px,
	'tiny': 380px,
	'phone': 576px,
	'tablet': 768px,
	'desktop': 1024px,
	'wide': 1200px,
	'ultrawide': 1550px,
	'HEIGHT_ultratiny': 400px,
	'HEIGHT_tiny': 550px,
	'HEIGHT_shorter': 650px,
	'HEIGHT_short': 750px,
	'HEIGHT_med': 850px,
	'HEIGHT_tall': 1000px,
); // TODO cleanup height

/* stylelint-disable */
// export for JS
:export {
	baseSize: $base-size;
	baseLineHeight: $base-line-height;
	scaleRatio: $base-scale-ratio;
	headerFont: $font-family-header;
	bodyFont: $font-family-body;
	letterSpacing: $letter-spacing;
	cardWidth: math.div(f.strip-units($card-width), 100);
}
