@use './functions.global' as f;

// typography related //TODO remove more of these or convert to vw
$base-size: f.$base-size; // To avoid circular reference
$hero-large-size: 4rem;
$hero-sub-size: 1.5rem;
$hero-tiny-size: 1.125rem;
$chrono-year-size: 2.25rem;
$header-font: 'Libre Baskerville', 'Georgia Pro', georgia, 'Times New Roman',
	serif;
$body-font: 'Cardo', Garamond, 'Times New Roman', serif;
$letter-spacing: 0.05em;

// colors
$ultra-white: #fff;
$white: #f7f7f7;
$red: #550003;
$dark-bg: #260101;
$light-bg: #f2e3d0;
$black-bg: #130101;
$blue-bg: #051926;
$pastel-bg: #bfaaaa;
$black: #222;
$subtle-gray: #aaa;
$blue-card-bg: #030e15;
$blue-card-dark-shadow: #01060a;
$blue-card-light-shadow: #092435;

// animation
$timing-function: cubic-bezier(0.65, 0.05, 0.36, 1); //TODO make sure consistent

//buttons
$border-radius: 8px;

//chronology
$card-height: 70vh;
$card-width: $card-height/1.5;

/*stylelint-disable */
// export for JS
:export {
	baseSize: $base-size;
	headerFont: $header-font;
	bodyFont: $body-font;
	letterSpacing: $letter-spacing;
	cardWidth: f.strip-units($card-width) / 100;
}
