// typography related
$base-size: 16px;
$hero-large-size: 4rem;
$hero-sub-size: 1.5rem;
$hero-tiny-size: 1.125rem;
$paragraph-size: 1.0625rem;
$chrono-year-size: 2.25rem;
$heading-size: 3rem;
$sub-heading-size: 1.5rem;
$header-font: 'Libre Baskerville', serif;
$body-font: 'Cardo', serif;

// colors
$white: #f7f7f7;
$red: #550003;
$dark-bg: #260101;
$light-bg: #f2e3d0;
$black-bg: #130101;
$blue-bg: #051926;
$pastel-bg: #bfaaaa;
$black: #222;
$subtle-gray: #aaa;
$blue-card-bg: #030e15;
// TODO natural letter spacing on headers?
