@use '~styles/util/variables.module' as v;
@use '~styles/util/mixins.module' as m;
@use 'sass:color';

$drop-shadow-offset: 4px;
$drop-shadow-blur: 25px;
$masonry-margin: 4rem;
$masonry-margin-small: 3rem;
$masonry-margin-tiny: 2rem;

.masonry {
	box-sizing: border-box;
	column-count: 3;
	column-fill: balance;
	column-gap: $masonry-margin;
	margin: $masonry-margin;

	@include m.media('<=ultrawide') {
		column-count: 2;
	}

	@include m.media('<=wide') {
		column-count: 1;
		column-gap: $masonry-margin-small;
		margin: $masonry-margin-small;
	}

	@include m.media('<=tablet') {
		column-count: 1;
		column-gap: $masonry-margin-tiny;
		margin: $masonry-margin-tiny;
	}

	@include m.media('<=phone') {
		column-count: 1;
		column-gap: 0;
		margin: 0;
	}
}

.link {
	box-sizing: border-box;
	display: inline-block;
	margin: calc($masonry-margin / 2) 0;
	width: 100%;

	@include m.media('<=wide') {
		margin: calc($masonry-margin-small / 2) 0;
	}

	@include m.media('<=tablet') {
		margin: calc($masonry-margin-tiny / 2) 0;
	}

	@include m.media('<=phone') {
		margin: 0 0 calc($masonry-margin-tiny * 0.666) 0;
	}
}

.item {
	@include m.neumorphic-intensity(
		$drop-shadow-offset,
		$drop-shadow-blur,
		v.$color-red-dark,
		150%
	);

	background-color: v.$color-red;
	border-radius: v.$border-radius-normal;
	overflow: hidden;
	position: relative;
	transition: 75ms v.$timing-quick;
	width: 100%;

	@include m.media('<=phone') {
		border-radius: 0;
	}

	@include m.media('<=tiny') {
		min-height: 16rem;
	}

	@include m.media('<=ultratiny') {
		min-height: 20rem;
	}

	&:hover {
		@include m.neumorphic-intensity(
			$drop-shadow-offset + 4px,
			$drop-shadow-blur + 8px,
			v.$color-red-dark,
			150%
		);
	}
}

.header {
	align-items: flex-end;
	bottom: 0;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	height: 100%;
	pointer-events: none;
	position: absolute;
	width: 100%;
}

.item-image {
	min-height: inherit;
	opacity: 0.7;
	position: initial;
	width: 100%;

	&:hover {
		opacity: 1;
	}
}

.headings-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;
}

%headings {
	@include m.header-text-shadow;

	color: v.$color-white;
	margin-left: 1.38rem;
	margin-right: 1.38rem;
}

.title {
	@extend %headings;

	border-bottom: 1px solid color.adjust($color: v.$color-white, $alpha: -0.7);
	font-size: v.$font-size-h2;

	@include m.media('<=phone') {
		font-size: v.$font-size-h3;
	}
}

.subtitle {
	@extend %headings;
	@include m.header-normal;

	font-size: v.$font-size-h3;

	@include m.media('<=phone') {
		font-size: v.$font-size-h4;
	}
}
