@use '~styles/util/variables.global' as v;
@use '~styles/util/mixins.global' as m;
@use 'sass:color';

$drop-shadow-offset: 4px;
$drop-shadow-blur: 25px;
$masonry-margin: 5em;

.masonry {
	box-sizing: border-box;
	column-count: 3;
	column-fill: balance;
	column-gap: $masonry-margin;
	margin: $masonry-margin;

	@media (max-width: 1550px) {
		column-count: 2;
	} //TODO vars and mixins

	@media (max-width: 1200px) {
		column-count: 1;
	} //TODO can do better
}

.link {
	box-sizing: border-box;
	display: inline-block;
	margin: ($masonry-margin/2) 0;
	width: 100%;
}

.item {
	@include m.neumorphic-intensity(
		$drop-shadow-offset,
		$drop-shadow-blur,
		v.$dark-bg,
		150%
	);

	border-radius: v.$border-radius;
	overflow: hidden;

	//TODO could this look better and more neumorphic?

	background-color: v.$red;
	position: relative;
	width: 100%;
	transition: 75ms v.$timing-function;

	&:hover {
		@include m.neumorphic-intensity(
			$drop-shadow-offset + 4px,
			$drop-shadow-blur + 8px,
			v.$dark-bg,
			150%
		); // TODO look ma, a bug
	}
}

$r: red(v.$red);
$g: green(v.$red);
$b: blue(v.$red);

.header {
	align-items: end;
	bottom: 0;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	height: 100%;
	padding-bottom: 1rem;
	pointer-events: none;
	position: absolute;
	width: 100%;
}

// TODO: font size and text shadow

.item-image {
	filter: grayscale(100%);
	opacity: 0.6;
	position: initial;

	&:hover {
		filter: grayscale(0%);
		opacity: 1;
	}
}

%headings {
	@include m.header-text-shadow;

	color: v.$white;
	margin-left: 2rem;
	margin-right: 2rem;
	//TODO some kind of hover? make better
}

.title {
	@extend %headings;
}

.subtitle {
	@extend %headings;
	@include m.header-normal;
}
